#special{
    color: red;
}
.best{
    text-decoration: underline overline dotted red;
}
p {
    font-family: 'Poppins', sans-serif;
}
.super{
    width: 50%;
    border: 2px solid blue;
    padding: 30px 20px 30px 20px;
    margin:10px auto 10px auto;
}



